/*Palette I was going off of came from https://coolors.co/palette/f8f9fa-e9ecef-dee2e6-ced4da-adb5bd-6c757d-495057-343a40-212529 but I also looked at and liked https://coolors.co/palette/edede9-d6ccc2-f5ebe0-e3d5ca-d5bdaf*/
body {
  background-color: #F8F9FA;
}
h1 {
  color: #212529;
}

.topnav {
  background-color: #6C757D;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ADB5BD;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #E9ECEF;
  color: #6C757D;
}
